.UCFHeader {
    background-color: #000;
    display: block;
    text-align: left;
    width: 100%
}

.background {
    background-color: #3E3E3E;
    opacity: 100%;
}

.see-through {
    background-color: #3E3E3E;
    opacity: 0%;
}

.text {
    color: #fff;
}