.Header {
    background-color: #000;
    color:#fff;
    display: block;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: larger;
    width: 100vw;
}

.background {
    background-color: #3E3E3E;
    opacity: 100%;
}

.see-through {
    background-color: #3E3E3E;
    opacity: 0%;
}

.navItem {
    color: #fff;
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 30% auto auto auto auto auto;
    gap: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home {
    grid-column: 2;
}