.semester-list{
    margin:50px 75px;
    width: 100%;
    max-width: 1200px;
}

.group{
    padding-left:35px;
}

.group-member-list{
    list-style-type: none;
    text-align: left;
}

.group-member-list li{
    padding: 10px 20px 10px;
}

.group-member-list li:nth-child(odd){
    background-color: hsl(0, 0%, 90%);
}

.group-member-list li:nth-child(even){
    background-color: hsl(0, 0%, 80%);
}

.semester-title {
    background-color: #FFC904;
    padding: 12px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.semester-title h2{
    padding-left: 20px;
}

.group-name{
    background-color: black;
    text-align: left;
    padding:8px;
    display: flex;
    justify-content: space-between;
}

.group-name h3{
    color:white;
    padding-left: 20px;
}

.dropdown-button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    margin:10px 30px 10px 10px;
    border: none;
    outline:none;
    box-shadow: none;
    transform: rotate(270deg);
}

.dropdown-button.rotated {
    transform:none;
}

.dropdown-button.group-button {
    color:white;
}

.dropdown-button.group-button.rotated {
    transform: none;
}

.edit-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.delete-member-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.member-row{
    display: flex;
    justify-content:space-between;
}

.member-button-container {
    width:100px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 50px 10px 10px;
}

#add-group {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 200px;
    color: black;
    border:none;
    background-color:#FFC904;
    border-radius: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.add-group-button{
    display: flex;
    justify-content: center;
    height: 35px;
    width: 200px;
    color: white;
    border:none;
    background-color:black;
    border-radius: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.add-member-button{
    height: 30px;
    width: 260px;
    color: black;
    border-color: transparent;
    background-color: #FFC904;
    border-radius: 25px;
    margin-right: 75px;

}

.semester-buttons-container{
    display:flex;
    width: 340px;
    justify-content: space-between;
}

.delete-group-button {
    display: flex;
    background-color: transparent;
    border:none;
    margin-top: 10px;
    margin-right: 50px;
}

.groupName-buttons-container {
    display:flex;
    justify-content: space-between;
}
    