* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex;
}

/* home page image of l3 harris */
.header-logo {
    display: flex;
    z-index: 1;
    position: absolute;
    padding: 10px;
    margin: 10%;
    margin-left: 13%;
    background-color: rgba(255, 201, 4, 0.8);
    color: black;
    font-weight: 700;
    font-size: 3vw;
    max-width: 40vw;
}

.desktop {
    position: relative;
    width: 100vw;
    display: grid;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

.mobile {
    display: none;
}


/* main sections of content sectioned off by color! */
.white-rect {
    /* max-height: 350px; */
    display: flex;
    width: 100vw;
    background: white;
    justify-content: center;
    padding: 50px;
}

.white-rect p {
    font-size: 22px;
    /* width: 80%; */
}

/* PRESENTATIONS */
.yellow-rect {
    max-height: 350px;
    display: flex;
    width: 100vw;
    background-color: #FFC904;
    padding: 50px;
}

.yellow-rect p {
    font-size: 22px;
    /* width: 80%;
    max-width: 80%; */
}


/* images on home page */
.about-img {
    width: 350px;
    height: 250px;
    margin-right: 120px;
}

.pres-img {
    width: 350px;
    height: 250px;
    margin-left: 120px;
}

.sponsor-img {
    width: 350px;
    height: 250px;
    margin-right: 120px;
}

    
.black-rect {
    max-height: 350px;
    display: flex;
    padding: 50px;
    color: white;
    width: 100vw;
    background-color: black;
    justify-content: space-between;
}

.black-rect p {
    font-size: 22px;
    color: white;
    max-width: 80vw;
}

.white-rect2 {
    display: flex;
    width: 100vw;
    height: 5%;
    background: white;
    justify-content: space-between;
    padding: 100px;
}

.white-rect2 p {
    /* margin: 5px; */
    font-size: 22px;
    width: 80%;
    max-width: 80%;
}

/* horizontal underlines under section headers */
.about hr {
    margin-left: 0;
    border: 2px solid #FFC904;
    opacity: 100%;
    color: #FFC904;
    width: 100px;
}

.presentations hr {
    margin-left: 0;
    border: 2px solid;
    opacity: 100%;
    color: white;
    width: 240px;
}

.sponsors hr {
    margin-left: 0;
    border: 2px solid;
    opacity: 100%;
    color: #FFC904;
    width: 165px;
}

.sd1 hr,
.sd2 hr {
    margin-left: 0;
    border: 2px solid;
    opacity: 100%;
    color: #FFC904;
    width: 280px;
    text-align: left;
}

.about,
.presentations,
.sponsors {
    margin: 20px;
    justify-content: center;
}

.about,
.presentations,
.sponsors,
.sd1,
.sd2 {
    text-align: left;
}




@media only screen and (max-width: 768px) {

    .about-img,
    .sponsor-img,
    .pres-img {
        display: inline-block;
    }

    .white-rect,
    .yellow-rect,
    .black-rect {
        display: inline-block;
        max-height: 750px;
    }
}

/* ABOUT mobile settings */
@media only screen and (max-width: 768px) {
    .white-rect {
        /* max-height: 350px; */
        width: 100vw;
        padding: 5px;
    }
    
    .white-rect p {
        width: 100%;
        max-width: 100%;
    }
    
    .about-img {
        margin-right: 0px;
        padding: 20px;
    }
}

  /* PRESENTATIONS mobile settings */
@media only screen and (max-width: 768px) {
    .yellow-rect {
        width: 100vw;
        padding: 5px;
    }
    
    .yellow-rect p {
        width: 100%;
        max-width: 100%;
    }

    .pres-img {
        margin-left: 0px;
        padding: 20px;
    }
}

/* SPONSORS mobile settings */
@media only screen and (max-width: 768px) {
    .black-rect {
        width: 100vw;
        padding: 5px;
    }
    
    .black-rect p {
        width: 100%;
        max-width: 100%;
    }

    .sponsor-img {
        margin-right: 0px;
        padding: 20px;
    }
}

/* SD1&2 mobile settings */
@media only screen and (max-width: 768px) {
    .white-rect2 {
        width: 100vw;
        padding: 20px;
        display: inline-block;
        /* max-height: 750px; */
    }
    
    .white-rect2 p {
        width: 100%;
        max-width: 100%;
        /* max-height: 100%; */
        /* max-width: 100vw */
    }

    .sd1, .sd2 {
        padding: 5px;
    }

    .sd1 {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: flex;
        position: relative;
        width: 100vw;
        display: grid;
        height: 100%;
        max-height: 100vh;
        margin: auto;
    }

    .header-logo {
        padding: 10px;
        margin-top: 150px;
        background-color: rgba(255, 201, 4, 0.8);
        color: black;
        font-weight: 700;
        font-size: 2em;
        max-width: 100vw;
    }
}