* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: arial, sans-serif;
    /* background-color: #FFF8DC; */
    /* background-color: #F3E5AB; */
    /* background-color: #EEDC82; */
}

.loginpage {
    background-color: #F3E5AB;
    display: inline-flex;
    height: 100vh;
    width: 100vw;
    align-items: center; 
    justify-content: center;
}

.logintext {
    /* position: absolute; */
    top: 5px;
    /* justify-content: center; */
    /* text-align: center; */
    margin: 40px;
}

.logintext1, .logintext2 {  
    margin: 12px;
}

.ucf_idinput, .passwordinput {
    font-size: 20px;
    width: 250px;
    height: 57px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    margin: 6px;
    /* margin-right: 40px; */
}

.ucf_idlabel, .passwordlabel {
    font-size: 20px;
    margin-right: 15px;
}

.loginform {
    border-radius: 5px;
}

.loginform, .ucf_idlabel, .ucf_id, .logintext, .logintext1, .logintext2, .passwordinput, .ucf_idinput, .passwordlabel, .forgotpasswordbutton {
    background-color: white; 
}

.loginbox {
    background-color: white; 
    justify-content: center;
    align-content: center;
    /* padding: 100px; */
    position: relative;
    align-items: center; 
    background-color: white; 
    /* padding: 30px; */
    border-radius: 26px;

    height: 530px;
    max-width: 500px;
    width: 400vw;
    margin: 10rem; 
    margin-top: 10em;
}

#loginButton {
    font-family: arial, sans-serif;
    font-size: 17px;
    width: 150px;
    height: 45px;
    align-items: center;
    margin-top: 50px;
    /* margin-right: 50px; */
    background-color: #FFC904;
    border-radius: 50px;
    padding: 10px;
    border: 1px ;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #EAB906;
}

#forgotPassword {
    width: 175px;
    max-height: 25px;
    font-size: 15px;
    margin-left: 220px;
    background: none!important;
    border: none;
    margin: 5x;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    
    cursor: pointer;
    /* float: right; */
}

#forgotPassword:hover {
    text-decoration: underline;
}