* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    outline: none;
    font-family: arial, sans-serif;
}

.loginbox {
    /* border: 1px solid black; */
    display: block;
    padding: 50px;
    position: relative;
    /* right: 50%; */
    /* transform-origin: -50%; */
    /* background-color: black; */
    /* width: 10vw; */
    /* display: block; */
    /* align-items: center;  */
    /* text-align: center; */
    /* justify-content: center;

    padding: 30px;
    position: relative;
    background-color: #EBEBEB; */
    /* border: 1px solid black; */
    border-radius: 3px;

    height: 500px;
    margin: 5rem; 
}

/* .logintext {
    margin: 20px;
} 

.inputbox1, .inputbox2 {
    margin: 10px;
}

#loginUser, #loginPassword {
    padding: 10px;

    /* width: 100%; */
/* }  */



#loginButton {
    font-family: arial, sans-serif;
    width: 200px;
    height: 50px;
    align-items: center;
    margin: 10px 10px 10px 0px;
    background-color: #FFC904;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #EAB906;
}

#forgotPassword {
    align-items: right;
    background: none!important;
    border: none;
    margin: 5px;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    float: right;
}