#done-button {
    width: 100px;
    margin: 20px;
    background-color: #FFC904;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

/* #done-button:hover {
    background-color: ;
} */

/* #proj-name-input, #tags-input, #full-name-input, #linked-in-input, #project-role-input {
    margin: 5px;
} */

.user-info {
    margin: 10px;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

.full-name-field, .linked-in-field, .project-role-field, .project-name-field, .tags-field, .tech-doc-field, .proj-desc-field {
    margin: 10px 15px;
}



.line1 {
    margin: 10px;
    display: inline-flex;
    text-align: left;
}

.line2 {
    margin: 10px;
    display: inline-flex;
    text-align: left;
}
